body{
    background-color: rgb(103, 235, 103);
}
#divImg{
    border:2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    background-color:  rgb(120, 233, 120);
}
.divBtn{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;
}
#btn{
    padding: 10px 20px;
    background-color: #fefffe;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;

  }
  
  #btn:hover {
    background-color: #c8caca;
  }
  
  #btn:active {
    background-color: #ffffff;
  }
